** {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 150px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.info-table th, .info-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.info-table th {
    background-color: #333;
    color: white;
}

.info-table tr:nth-child(even) {
    background-color: #f4f4f4;
}
Sección de contacto */
.contact-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}
.contact-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-section label {
    font-weight: bold;
}

.contact-section input,
.contact-section textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}
.contact-section button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-section button:hover {
    background-color: #45a049;
}
.main-footer {
    background-color: #000000;
    color: rgb(183, 203, 253);
    text-align: center;
    padding: 10px 0;
    grid-row: 3;
    width: 100%;
}